textarea[class*="language-"],
code[class*="language-"],
code[class*="language-"] *,
pre[class*="language-"] {
  word-break: break-word !important;
  white-space: pre-wrap !important;
}

.font-size-10 {
    font-size: 1.0rem !important;
}
